body {
    font-family: Quicksand, sans-serif;
    font-size: 30px;
    font-weight: 100;
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    color: #3C3F47;
    background-color: #979DA6;
    color: #3C3F47;
    font-size: 20px;
    margin-bottom: 5%;
    padding: 2% 5%;
    text-align: left;
}

.blurred {
    margin: 20% auto;
    opacity: 0.7;
    transition: 0.5s;
}

img {
    margin: auto;
    display: block;
    width: 50%;
}

.blurred:hover {
    opacity: 1;
}

.menu {
    display: inline-flex;
	justify-content: center;
	width: 92%;
	background-color: #979DA6;
    font-size: 35px;
    margin: 2%;
    padding: 2%;
}

.btn-menu:hover {
    background-color: #68788C;
    transition: 0.5s ease-in-out;
}

hr {
    border: 1px solid #F2E205;
    border-radius: 5px;
}

button {
    background-color: #979DA6;
    border-top: 1px solid #68788C;
    border-bottom: 1px solid #68788C;
    border-left: none;
    border-right: none;
    box-shadow: none;
    font-size: 20px;
    height: 5em;
    margin: 0.1em;
    padding: 0.2em;
    width: 100%;
    color: #F2EEB3;
}
#findMe {
    background-color: #F2EEB3;
    border: none;
    color: #3C3F47;
    transition: 0.5s ease-in-out;
    margin: 0;
}

#findMe:hover {
    background-color: #F2D64B;
    font-weight: bolder;
}

footer {
    background-color: white;
    color: black;
    height: 10%;
    padding: 1em 0em;
    text-align: center;
    width: auto;
}

.label {
    display: inline-flex;
    font-size: 30px;
    padding: 0 10%;
}

.column {
    font-size: 1.2em;
    padding: 1em;
    width: 50%;
}

.img-pair {
    display: flex;
    justify-content: center;
	width: 90%;
	margin: 5%;
}

.img-in-pair {
    width: 30%;
    margin: 1em;
}
